

		<!-- <div class="widget-container widget_search styled boxed boxed-cream">
			<div class="inner"> -->
				<form action="//google.com/search" method="get" accept-charset="utf-8">
					<div class="clearfix">
						<span class="btn">
							<input type="submit" class="gradient" value="Search">
						</span>
						<div class="field_text">
							<input type="text" placeholder="关键词" value="" name="q" hidefocus="true" style="outline: medium none;">
							<input type="hidden" name="sitesearch" value="himysql.com">							
						</div>
					</div>
				</form>
			<!-- </div>
		</div> -->
